:javascript
  $(function(){
    $('#answers').on('click', '.add-answer', function(e) {
      e.preventDefault();
      $('#answers').append($(this).data('partial'));
    });

    $('#answers').on('click', '.remove-answer', function(e) {
      e.preventDefault();
      $(this).parents('.answer').remove();
    });
  });


= form_for @question do |f|

  = f.hidden_field :poll_id, value: params[:poll_id]

  .field
    = f.label :question
    = f.text_field :question
  .field
    = f.label :duration, 'Duration in seconds'
    = f.number_field :duration
  .field#answers
    = f.label :answers
    = link_to '+', '#', 'data-partial' => "<br/>#{h(f.text_field :answers, multiple: true, value: '')}", class: 'add-answer'
    - @answers.each do |answer|
      .answer
        %br
        = f.text_field :answers, multiple: true, value: answer
        = link_to 'X', '#', class: 'remove-answer'
  .actions
    = f.submit 'Save'
