%p#notice= notice

%h1.page-title
  = @question.question

%p
  %b Answers:
  = @question.answers
%p
  %b Correct Answer:
  = @question.correct_answer_id

%p
  %b Duration:
  = @question.duration

  .container
    .row
      -@question.answers.each do |answer|
        %button
          =answer
            




  = link_to 'Edit', edit_question_path
  \|
  = link_to 'Back', poll_path(@question.poll_id)
