= form_for @poll do |f|
  - if @poll.errors.any?
    #error_explanation
      %h2= "#{pluralize(@poll.errors.count, "error")} prohibited this poll from being saved:"
      %ul
        - @poll.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-lg-3.col-lg-push-1
      .create-poll
        .field
          = f.label :course
          = f.text_field :course
        .field
          = f.label :date
          = f.datetime_select :date
        .actions
          = f.submit 'Save'
    .col-lg-4.col-lg-push-4
      /TODO fix scrollable
      /#scrollable.create-questions
      .create-questions
        %p Insert question here
        
        