= form_for @poll do |f|
  .create-poll
    = f.hidden_field :course_id, value: params[:course_id]

    .field
      = f.label :course
      = f.text_field :course
    .field
      = f.label :date
      = f.datetime_select :date
    .actions
      = f.submit 'Save'