= form_for @poll do |f|
  .create-poll.main-poll
    .field
      = f.label :course
      = f.text_field :course
    .field
      = f.label :date
      = f.datetime_select :date
    .actions
      = f.submit 'Save'