%h1 Listing polls

%table.table
  %tr
    %th Course
    %th Poll
    %th Date
    %th
    %th
    %th

  - @polls.each do |poll|
    %tr
      %td= poll.course
      %td= poll.name
      %td= poll.date
      %td= link_to 'Show', poll
      %td= link_to 'Edit', edit_poll_path(poll)
      %td= link_to 'Destroy', poll, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
