%h1.page-title New poll

= form_for @poll do |f|
  - if @poll.errors.any?
    #error_explanation
      %h2= "#{pluralize(@poll.errors.count, "error")} prohibited this poll from being saved:"
      %ul
        - @poll.errors.full_messages.each do |msg|
          %li= msg
  .container
    .row
      .col-md-6
        .create-poll
        = render 'form'
      .col-md-6
        = link_to 'Add Question', new_question_path(:poll_id => @poll.id)
      

              
    /   /TODO fix scrollable
    /   /#scrollable.create-questions
    / .create-questions{:id => 'questions'}
    /     %script{:type => "text/javascript"}
    /       var myLink = document.getElementById('addQuestion');
    /       var questions = document.getElementById('questions');
    /       questions.innerHTML += "foo";
    /       myLink.onclick = function () {questions += <field>};

= link_to 'Back', polls_path
