%p#notice= notice

%h1.page-title
  = @poll.course.name
%h4.page-description
  = @poll.date

%h3.page-description Polls
.container
  .row
    %table.table
      %th Question
      %th Number of Answers
      %th Duration
      -@poll.questions.each do |question|
        %tr
          %td= link_to question.question, question
          %td= question.answers.count
          %td= question.duration

  = link_to 'Edit Course', edit_poll_path(@poll)
  \|
  = link_to 'Back', edit_course_path(@poll.course_id)
