= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field.row.text-center
    = f.label :name, class: "col-xs-offset-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-md-4 pull-left"
    = f.text_field :name, class: "col-xs-6 col-md-4 pull-right"
  .field.row.text-center
    = f.label :description, class: "col-xs-offset-4 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-md-4 pull-left"
    = f.text_area :description, class: "col-xs-6 col-md-4 pull-right"
  .actions.field.text-center
    = f.submit 'Save', class: "btn btn-primary"
