%h1.page-title Existing Courses

%section.container.mainpage

  %table.table
    %tbody
      %tr
        %th Name
        %th Description
        %th Options
        %th
        %th

      - @courses.each do |course|
        %tr
          %td= link_to course.name, course
          %td= course.description
          %td
            - if course.users.include?(current_user)
              Enrolled in course
            - else
              = link_to 'Join', join_course_path(course)
          //Use an admin check here (if courses_user?(admin=true))
          - if user_signed_in?
            - if current_user.admin_for?(course) 
              %td= link_to 'Edit', edit_course_path(course)
              %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }
            - else
              %td
              %td

%br
