%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Description:
  = @course.description

= link_to 'New poll', new_poll_path(course_id: @course.id)

%table.table
  - @course.polls.each do |poll|
    %tr
      %td= link_to poll.name, poll
      %td= poll.description
      %td
        - if @course.users.include?(current_user)
          Enrolled in course
        - else
          = link_to 'Join', join_course_path(@course)

    - if current_user && current_user.admin_for?(@course)
      = link_to 'Edit', edit_course_path(@course)
      \|
