%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Description:
  = @course.description


- @course.poll.each do |poll|
%tr
  %td= link_to poll.name, poll
  %td= poll.description
  %td
    - if course.users.include?(current_user)
      Enrolled in course
    - else
      = link_to 'Join', join_course_path(course)

- if current_user.admin_for?(@course)
  = link_to 'Edit', edit_course_path(@course)
  \|

= link_to 'Back', courses_path
